/* Style for navigation bar */
nav {
    background-color: #5d7d46;
    padding: 10px;
}

/* Style for list items */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for menu items */
nav ul li {
    margin: 0;
    padding: 10px;
}

/* Style for links */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

/* Change link color on hover */
nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}




/* General Button Style */
.button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    transition: all 0.3s ease;
    font-weight: bold;
}

/* Box-style Button */
.button.box {
    background-color: #5d7d46; /* Color of button background */
    border: 2px solid #FFFFFF; /* Color of border */
    border-radius: 10px; /* Slightly rounded corners */
}

.button.box:hover {
    background-color: #45a049; /* Darker green on hover */
    border-color: #45a049; /* Darker border on hover */
}

